{{range .posts}}
  <h1 class="entry-title">
      <a href="/{{ .Permalink }}">{{ .PostTitle }}</a>
  </h1>
  <div class="enry-meta">
    <span class="date">
        <time class="entry-date" datetime="{{ .PostDate }}">{{ .PostDate }}</time>
    </span>
    {{if .Categories}}
    <span class="categories-links">
      {{range .Categories}}
        <a href="/category/{{.Slug}}/" rel="category tag">{{.Name}}</a>
      {{end}}
    </span>
    {{end}}
    {{if .Tags}}
    <span class="tags-links">
      {{range .Tags}}
        <a href="/tag/{{.Slug}}/" rel=" tag">{{.Name}}</a>
      {{end}}
    </span>
    {{end}}
    <span class="author vcard">
      <a class="url fn n" href="http://localhost/wp/index.php/author/admin/" title="View all posts by admin" rel="author">admin</a>
    </span>
  </div>
  <div>{{ .PostContent | unescaped }}</div>
{{end}}

<hr />
{{range .options.Pages}}
<span>{{.PostTitle}}</span>
{{end}}
<hr />
<div>
<span>Categories: </span>
{{range .options.Categories}}
<span>{{.Name}}</span>
{{end}}
</div>
<div>
<span>Tags: </span>
{{range .options.Tags}}
<span>{{.Name}}</span>
{{end}}
</div>

<div>
  <strong>Total time: </strong>{{.elapsed}}
</div>