{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
  {% for post in posts %}
    {% include  "partials/post.html" %}
  {% endfor %}

  <hr />
  {% for page in options.Pages %}
    <span>{{page.PostTitle}}</span>
  {% endfor %}
  <hr />
  <div>
    <span>Categories: </span>
    {% for option in options.Categories %}
      <span>{{option.Name}}</span>
    {% endfor %}
  </div>

  <div>
  <span>Tags: </span>
  {% for tag in options.Tags %}
    <span>{{tag.Name}}</span>
  {% endfor %}
  </div>
{% endblock %}
